:host /deep/ .ui-datatable .ui-datatable-data > tr > td {
  background-color: rgba(31,31,31,0.62) !important;
  padding: 0.4em .5em;
  /* background-color: #d9d9d9; */
}

:host /deep/ .ui-datatable table {
  border-collapse: separate;
  border-spacing: 2px;
  border-color: #d9d9d9;
}

  :host /deep/ .ui-datatable table thead {
    display: none;
  }


:host /deep/ .ui-datatable {
  padding: 50px 200px;
  width: 100%;
}


  :host /deep/ .ui-datatable .ui-datatable-header {
    text-align: left;
    font-family: monospace;
    font-size: 3.5em;
    color: white;
    background-color: dimgray;
    padding: .3em 0.1em;
  }


span {
  font-size: 1.2em;
  cursor: pointer;
  color: white;
  font-family: monospace;
  font-weight: bold;
}


th {
  background: #d9d9d9 repeat-x scroll center left;
  color: #1b1d1f;
  padding: 5px 5px;
  text-align: left;
  width: 15%;
}

td {
  color: white;
}

b {
  color: white;
}

a {
  cursor: pointer;
}

a:hover b{
color:blue;
}

li a:hover b{
  color : blue;
}

.divStyle{
  overflow:hidden;
  background-color:white;
  margin-left:20px;
  padding:5px
}


/* .hdr{
  background-color: dimgray;
} */
